.header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.hide {
    display: none
}

body {
    font-family: 'Comic Sans MS', sans-serif;
    text-align: center;
    background: linear-gradient(to bottom right, pink, #5858f5);
    height: 100vh;
}


#begin, #quiz, #leaderboard, #finishedEl, #finalScore, #inputs {
    margin: 20px;
}

#start {
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #00CED1; 
    color: #fff;
    cursor: pointer;
}

#viewHighScores {
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 20px;
    
    background-color: #00CED1; 
    color: #fff;
    cursor: pointer;
}

#question {
    margin-top: 30px;
}

button {
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
    color: black;
    cursor: pointer;
    
}

#inputs label {
    display: block;
    margin-top: 10px;
}

#inputs input[type="text"], #inputs input[type="submit"] {
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background-color: #00FF7F; 
    color: #fff;
    cursor: pointer;
}

#leaderboard {
    list-style: none;
    padding: 0;
}

#leaderboard li {
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}


#answer1 {
    background-color: #00FF00; 
}

#answer2 {
    background-color: #1E90FF; 
}

#answer3 {
    background-color: #df2b0b; 
}

#answer4 {
    background-color: #FFFF00; 
}



#timerEl {
    font-size: 30px;
    border-radius: 2px;
    display: inline-block;
}

#timerDiv {
    display: none;
    border: 2px solid black; 
    border-radius: 10px;    
    padding: 10px;          
    margin: 20px; 
    background-color: white;
}